<div class="container" style="text-align: center; margin-right: 0%">
  <div class="row ">
    <br /><br />
    <div class="col-md-10">
      <script type='text/javascript'>id='sonymax'; id_width=640; id_height=490;</script><script type='text/javascript' src='http://cdn15.crichd.in/channel.js'></script>
    </div>
  </div>
</div>