<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gupshup Online, Best platform for online chatting in different groups ">
    <meta name="keywords" content="Free chat, online chat, chat in groups, Gupsup online, free chatting in group, GupShupOnline"/>
    <meta name="author" content="">

    <title>GupshupOnline! Online free chat, chat in groups</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <%= render Gupshup.SharedView, "_facebook_js.html" %>
  </head>

  <body>
    <div class="container">
      <%= render Gupshup.SharedView, "_header.html" %>

      <!-- Disclaimers -->
      <div id="siteDisclaimer" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title red">Disclaimers</h4>
            </div>
            <!-- Modal content-->
            <%= render Gupshup.SharedView, "_disclaimer.html" %>
          </div>
        </div>
      </div>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div> <!-- /container -->
    <%= render @view_module, @view_template, assigns %>
    <%= render Gupshup.SharedView, "_footer.html" %>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <!-- all.js combines bootstrap.min.js, jquery.dropotron.min.js, jquery.scrolly.min.js, jquery.onvisible.min.js,skel.min.js, util.js,  main.js, enscroll-0.6.2.min.js-->
    <script src="<%= static_path(@conn, "/js/all.min.js") %>"></script>
    <script>      
      // Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-77385827-1', 'auto');
        ga('send', 'pageview', location.pathname);

      $('#bodyDiv, #messages').enscroll({
        showOnHover: false,
        verticalTrackClass: 'track3',
        verticalHandleClass: 'handle3'
      });

      $('.panel-body').enscroll({
        showOnHover: false,
        verticalTrackClass: 'track3',
        verticalHandleClass: 'handle3'
      });

      function showDisclaimer(){
        $('#siteDisclaimer').modal('show');
      }

     $(document).ready(function() {
        $("#message-input").emojioneArea({
            // container: "#container",
            hideSource: true,
            useSprite: false,
          events: {
            keyup: function (editor, event) {
              console.log(event.which);
              if (event.which == 13){
                $("#message-input").val(editor.html())
                $("#sendMessage").trigger('click');
              }
            }
          }
        });

      });
    </script>
    <style type="text/css">
      .emojionearea, .emojionearea.form-control{
        width: 82%;
      }
    </style>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div style="text-align: center">
<!-- Chat Group Page -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-9193386146419133"
     data-ad-slot="9612394400"></ins>
</div>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

  </body>
</html>
