<!-- Banner -->
<section id="banner">
	<header>
		<h2>Join your favorite room</h2>
		<p>
			The chat service is completely anonymous, your chat partner cannot see who you are.<br />Just click on your favorite chat room and enjoy chatting.
		</p>
	</header>
</section>

<!-- Carousel -->
<section class="carousel">
	<div class="reel">
    <%= for room <- @rooms do %>
      <article>
        <%#= link room.name, to: , class: "btn btn-default btn-xs" %>
        <% image_name = if room.img_name, do: room.img_name, else: 'pic01.jpg' %>
        <a href="/chat/<%=room.name %>" class="image featured"><img src="images/<%= image_name %>" alt="" /></a>
        <header>
          <h3><a class= "btn btn-primary" href="/chat/<%=room.name %>"><%= display_room_name(room.name) %></a></h3>
        </header>
        <p><%= room.description %></p>
      </article>
    <% end %>
	</div>
</section>
