<div class="modal-body">
  <p>&#9632; This website is not responsible for any incorrect or inaccurate Content posted on the Website or in connection with the Service, whether caused by users of the Website, Members or by any of the equipment or programming associated with or utilized in the Website or the Service.</p>

  <p>&#9632; This website is not responsible for the conduct, whether online or offline, of any user of the Website or Member of the Service.</p>

  <p>&#9632; This website assumes no responsibility for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, user or Member communications.</p>

  <p>&#9632; This website is not responsible for any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, computer equipment, software, failure of email or players on account of technical problems or traffic congestion on the Internet or at the Website, including injury or damage to users and/or Members or to any other person’s computer related to or resulting from participating or downloading materials in connection with the Website or in connection with the Service.</p>

  <p>&#9632; This website does not monitor chat rooms, does not keep records & logs of the discussions happens in chat rooms mains and in private chats. Users enter at their own risk. Users hold all responsibility for what they experience in chat rooms.</p>

  <p>&#9632; This website is not responsible for any results coming from information received or people met in chat rooms and what users say and hear in chat rooms.</p>

  <p>&#9632; This website holds no responsibility for harassment, flood, spam and abuse within chat rooms. and cannot guarantee that there will not be persons within chat rooms who use lewd, vulgar,insulting,profane,racist or sexual language</p>

  <p>&#9632; This website is not responsible for vulgar language heard within chat rooms and attacks on another person’s race, religion, national origin, sexual orientation or gender.
  we don’t record or collect ip and any information about the visitors.</p>

  <p class="center red">
    If you do not agree with any of our disclaimers mentioned please do not read or chat. <br />To use This website you must be at least 18 years of age. <br />This website disclaims responsibility for the actions of any visitors of this website.</p>

</div>
