<footer class="footer">
  <nav role="navigation">
    <ul class="nav nav-pills pull-right">
      <a href="javascript:void();" onclick='showDisclaimer();'>Disclaimers</a>&nbsp;|
      <div class="fb-like" data-href="https://afternoon-caverns-41633.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
    </ul>
  </nav>
</footer>