<header class="header">
	<nav role="navigation" class="navigationBar">
	  <ul class="nav nav-pills">
	  	<div class="logoLeft">
     		<a href="/"><span class="logo">GupshupOnline</span></a>
	    </div>
	    

	    <div class="headerLinks">
		    <a href="/">Home</a>&nbsp;|
		    <a href="/ipl-cricket" target="_blank">Cricket IPL</a>&nbsp;|
		    <a href="javascript:void();" onclick='showDisclaimer();'>Disclaimers</a>&nbsp;|
		    <div class="fb-like" data-href="http://www.gupshuponline.co.in" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
	  	</div>

	  </ul>
	</nav>
</header>