<script>
  window.userSession = "<%= assigns[:user_session] %>";
  <%= if assigns[:room] do %>
    window.roomName = "<%= @room.name %>";
  <% end %>
</script>
<div class="container">
  <div class="row ">
    <br /><br />
    <div class="col-md-10">
      <div class="panel panel-info">
        <div class="panel-heading">
          Room: <%= if assigns[:room], do: display_room_name(@room.name), else: "Enjoy Group chatting!!" %>
        </div>
        <div id="messages">
        </div>

        <div class="panel-footer">
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input id="username_<%= assigns[:user_session] %>" type="text" class="form-control username" placeholder="username">

            <input type="text" class="form-control" placeholder="Enter Message" id="message-input" required />
            <span class="input-group-btn">
              <button class="btn btn-info" type="button" id="sendMessage">SEND</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          ONLINE USERS (<span id="onlineCount"></span>)
        </div>
        <div class="panel-body">
          <div id="users-list">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
